/* -------------------------- */
/* Admin config dialog styles */
/* -------------------------- */

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 4px;
}

fieldset ul {
    margin: 0px;
}

legend {
    padding: 2px;    
}