/* Set 'display' of an animal group to 'none' to hide the respective entry. */
/* Example below: */

/*#vfasft-li-wild_caught_fish{
display: none;
}*/


/* ------------------ */
/* General CSS styles */
/* ------------------ */
.vfasft-container {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.vfasft-borders {
    position: relative;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.vfasft-source {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: small;
    opacity: 0.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60%;
    text-align: right;
}

.vfasft-source:hover {
    opacity: 1
}

.vfasft-button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 11px 22px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.vfasft-button:hover {
    background-color: #ee0000;
}

.vfasft-annotation {
    clear: both;
    margin-top: 20px;
}

.vfasft-credits {
    float: left;
    margin-top: 10px;
    opacity: 0.5;
    font-size: small;
}

.vfasft-credits a {
    text-decoration: none;
}

.vfasft-credits:hover {
    opacity: 1;
}

/* --------------------- */
/* Header section styles */
/* --------------------- */

.vfasft-header-section {
    overflow: hidden;
}

.vfasft-header-section p {
    clear: left;
}

.hidden {
    display: none;
}

.vfasft-tab-bar input {
    display: none;
}

.vfasft-tab-bar input + label {
    float: left;
}

.vfasft-tab {
    display: none;
}

.vfasft-tab-bar input + label {
    font-size: 0.6em;
    padding: 3px 10px;
    top: 1px;
}

.vfasft-tab-bar input:not(:checked) + label {
  border: 0 solid #999;
  background: #00000060;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.vfasft-tab-bar input:checked + label {     /* highlight selected tab */
  font-weight: bold;
  font-size: 0.6em;
  padding: 5px 12px;
  box-shadow: -1px 2px 3px -1px rgba(0,0,0,0.12), -1px 2px 2px -1px rgba(0,0,0,0.24);
  margin-top: -1px;
}

.vfasft-tab p {
    margin-top: 5px;
    margin-bottom: 5px; 
}

.vfasft-clock {
    font-weight: bold;
}

.vfasft-clock-hours {
    display: none;
    white-space: nowrap;
}

.vfasft-clock-minutes {
    display: none;
    white-space: nowrap;
}

.vfasft-clock-seconds {
    white-space: nowrap;
}

/* ------------------- */
/* Kill counter styles */
/* ------------------- */
span.vfasft-number {
    /*color: black;*/
    font-weight: bold;
    font-size: smaller;
}

ul.vfasft-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 5px;
    margin-bottom: 0px;
}

ul.vfasft-list li {
    margin: 0px;
}

span.vfasft-number-compact {
    display: none;
    font-size: smaller;
    font-weight: bold;
}

ul.vfasft-list:hover .vfasft-row-container {
    opacity: 0.3;
}

ul.vfasft-list:hover .vfasft-row-container:hover {
    opacity: 1.0;
}

.vfasft-row-container:hover .vfasft-number {
    display: none;
}

.vfasft-row-container:hover .vfasft-number-compact {
    display: inline;
}

.vfasft-animal-names {
    opacity: 0.6;
    font-size: smaller;
    text-transform: uppercase;
    margin-left: 10px;
}

.vfasft-animal-names p {
    margin: 0px;
}

.vfasft-row-container {
    display: flex;
    text-align: center;
}

/* ------------------------ */
/* Subsidies counter styles */
/* ------------------------ */

span.vfasft-subsidies-number-compact {
    opacity: 0.4;
}

div.vfasft-subsidies-container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

div.vfasft-number-container {
    display: flex;
    flex-direction: column;
}

div.vfasft-subsidies-number-container {
    display: flex;
    flex-direction: column;
}

.vfasft-subsidies-number {
    font-size: 32pt;
    font-weight: bold;
}

/* The following is a hack and should be replaced by a proper solution such as FitText */
@media only screen and (max-width:1500px){
	.vfasft-subsidies-number {
        font-size: 24pt;
	}
}

@media only screen and (max-width:1000px){
	.vfasft-subsidies-number {
        font-size: 20pt;
	}
}

.vfasft-currency {
    opacity: 0.4;
    margin-left: 10px;
}

/* ---------------- */
/* For table layout */
/* Currently unused */
/* ---------------- */

/*table.vfasft_table {
    border: none;
    table-layout: fixed;
    margin-bottom: 0;
}

table.vfasft_table td {
    border: none;
    padding: 0px;
    margin-top: 0px;
}

table.vfasft_table td.vfasft-number {
    width: 20%;
    white-space: nowrap;
}
*/


/* ------------------------- */
/* For floating boxes layout */
/* Currently unused          */
/* ------------------------- */

/*ul.vfasft-floatingboxes {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

ul.vfasft-floatingboxes li {
    flex: auto;
    width: 100px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.vfasft-floatingboxes li p {
    margin-bottom: 0;
}*/